@use "./../abstracts" as *;
section.about{
    background: #152331;
    background: linear-gradient(to right,#3c2c1b, #302216);
    position: relative;
    .shape{
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        z-index: 1;

    }
    .shape2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 160px;
        z-index: 1;
    }
    .container{
        padding: 20px;
        position: relative;
        z-index: 4;
        background-color: #3636368e;
        backdrop-filter: blur(2px);
        border-radius: 15px;
        .title{
            h2{
                @include responsive(350){
                    font-size: 30px;
                }
                @include responsive(450){
                    font-size: 40px;
                }
                img{
                    @include responsive(350) {
                        width: 55px;
                    }
                }
            }
            .spreator {
                img{
                    @include responsive(350) {
                        width: 220px;
                    }
                }
            }
        }
        .row{
            .column{
                &.col1{
                    display: flex;
                    align-items: center;
                    
                    .item{
                        padding: 20px;
                        @include responsive(350) {
                            padding: 10px;
                            text-align: center;
                        }
                        @include responsive(1250) {   
                            text-align: start;
                        }
                    }
                }
                h3{
                    font-size: 18px;
                    line-height: 35px;
                    @include responsive(350){
                        font-size: 17px;
                        line-height: 31px;
                    }
                    span{
                        font-size: 20px;
                        @include responsive(350) {
                            font-size: 19px;
                        }
                        font-weight: bolder;
                        &.angularSpan{
                            color: red;
                        }
                    }
                }
                &.col2{
                    @include responsive(350) {
                        margin-top: 1.5rem;
                    }
                    .item{
                        @include flexCenter();
                        .imgCon{
                            cursor: pointer;
                            position: relative;
                            width: 350px;
                            height: 350px;
                            border-radius: 100%;
                            z-index: 3;
                            @include flexCenter();
                            &::before{
                                @include shapeNav($w: 105%, $h: 105%, $color:rgb(255, 255, 255), $opacity: 1);
                                @include responsive(350) {
                                    width: 105%;
                                    height: 94%;
                                }
                                @include responsive(450) {
                                    width: 105%;
                                    height: 105%;
                                }
                                @include responsive(850){
                                    width: 104%;
                                    height: 83%;
                                }
                                @include responsive(950){
                                    width: 105%;
                                    height: 83%;
                                }
                                @include responsive(1050){
                                    width: 105%;
                                    height: 105%;
                                }
                                position: absolute;
                                border-radius: 100%;
                                z-index: 1;
                                animation: spin 5s linear infinite;
                                background: conic-gradient(from 0deg,#10070000,#ff7a1a,#00000000,#ff791a,#ff6a0000);
                                filter: blur(0px);
                                
                            }
                            img{
                                position: relative;
                                width: 100%;
                                z-index: 2;
                            }
                            &:hover{
                                .layOut{
                                    opacity: 1;
                                }
                            }
                            .layOut{
                                position: absolute;
                                background-color: rgba(0, 0, 0, 0.29);
                                backdrop-filter: blur(5px);
                                width: 100%;
                                height: 100%;
                                border-radius: 100%;
                                z-index: 5;
                                @include flexCenter();
                                opacity: 0;
                                transition: all 0.5s;
                                @include responsive(350) {
                                    width: 100%;
                                    height: 90%;
                                }
                            
                                @include responsive(450) {
                                    width: 102%;
                                    height: 98%;
                                }
                            
                                @include responsive(850) {
                                    width: 101%;
                                    height: 78%;
                                }
                            
                                @include responsive(950) {
                                    width: 105%;
                                    height: 83%;
                                }
                            
                                @include responsive(1050) {
                                    width: 100%;
                                    height: 100%;
                                }
                                img{
                                    width: 90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}