@use "./../abstracts" as *;
section.contact{
    .container{
        .row{
            padding-top: 0;
            .column{
                .item{
                    @include flexCenter();
                    justify-content: flex-start;
                    .boxText{
                        
                        @include flexCenter(column);
                        align-items: flex-start;
                        @include responsive(350) {
                            align-items: center;
                        }
                        .title{
                            @include flexCenter(column);
                            justify-content: flex-start;
                            h2{
                                justify-content: flex-start;
                                color: white;
                                margin-bottom: 0!important;
                                transform: translateY(15px);
                                font-size: 28px;
                                img{
                                    width: 70px;
                                }
                            }
                            img {
                                width: 270px;
                            }
                        }
                        h3{
                            color: white;
                            line-height: 32px;
                            font-weight: 400;
                            @include responsive(350) {
                                text-align: center
                            }
                        }
                    }
                }
            }
            .columnBox{
                @include flexCenter();
                .item{
                    width: 100%;
                    @include flexCenter();
                    flex-direction: row-reverse !important;
                    justify-content: space-between;
                    img.scrollDown{
                        width: 80px;
                        @include responsive(350){
                            display: none;
                        }
                        @include responsive(1050){
                            display: flex;
                        }
                    }
                    @include flexCenter();
                    .boxContact{
                        width: 80%;
                        .splide{
                            overflow: hidden;
                            height: 200px;
                            border: 2px solid #FF6B00;
                            animation: glow 1s linear infinite alternate;
                            border-radius: 15px;
                            padding: 20px;
                            div.splide__arrows{
                                display: none;
                            }
                            ul{
                                padding: 30px;
                                li{
                                    border: 2px solid #FF6B00;
                                    border-radius: 15px;
                                    height: 100%!important;
                                    .box{
                                        width: 100%;
                                        height: 100%;
                                        @include flexCenter();
                                        gap: 10px;
                                        img{
                                            width: 70px;
                                        }
                                        h2{
                                            color: white;
                                            font-size: 25px;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}