@use "./../abstracts" as *;
section.edu{
    background: #152331;
    background: linear-gradient(to left, #3c2c1b, #302216);
    position: relative;
    .container{
        .title{
            .spreator{
                img {
                        @include responsive(350) {
                            width: 220px;
                        }
                    }
                }
        }
        position: relative;
        background-color: #3636368e;
        backdrop-filter: blur(2px);
        border-radius: 15px;
        z-index: 10;
        padding: 20px;
        .row{
            padding: 20px;
            padding-top: 40px;
            @include responsive(350){
                padding: 0;
                padding-top: 40px;
            }
            .column{
                @include flexCenter();

                &:nth-of-type(2),&:nth-of-type(1){
                    margin-bottom: 5rem;
                }
                &:nth-of-type(odd),&:nth-of-type(even){
                    @include responsive(350){
                        margin-bottom: 2rem !important;
                    }
                }
                &:nth-of-type(even){
                    .item{
                        .box{
                            background: linear-gradient(to right, #232526, #414345);
                        }
                    }
                }
                &:nth-of-type(odd){
                    .item{
                        .box{
                            background: linear-gradient(to left, #232526, #414345);
                        }
                    }
                }
                
                &:last-child{
                    .box{
                        @include responsive(350){
                            padding: 5px!important;
                        }
                        
                    }
                }
                .item{
                    @include flexCenter();
                    width: 100%;
                    .box{
                        background-image: url("../img/bg.png");
                        background: #232526;
                        width: 80%;
                        @include responsive(350) {
                            width: 100%;
                        }
                        height: 140px;
                        &.unshow{
                            transform: scale(0.95);
                            filter: blur(4px);
                        }
                        cursor: pointer;
                        position: relative;
                        border: 4px solid #FF6B00;
                        animation: glow 1s linear infinite alternate;
                        border-radius: 15px;
                        @include flexCenter();
                        justify-content: space-between;
                        transition: all 0.5s;
                        padding: 20px;
                        gap: 15px;
                        @include responsive(350) {
                            padding: 0;
                            gap: 0;
                        }
                        @include responsive(450){
                            padding: 15px!important;
                        }
                        img{
                            width: 90px;
                            @include responsive(350) {
                                width: 50px;
                            }
                            @include responsive(450){
                                width: 70px;
                            }
                        }
                        .textCon{
                            width: 80%;
                            div{
                                @include flexCenter();
                                justify-content: flex-start;
                                color: white;
                                &:not(:last-child){
                                    h2,h3{
                                        margin-bottom: 0.5rem;
                                    }
                                }
                                
                                h2{
                                    display: flex;
                                }
                                h3{
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}