@use "./../abstracts" as *;

nav#Nav{
    @include Position($type: fixed, $t: 30px, $l: 50%);
    width: 90%;
    transform: translateX(-50%);
    z-index: 100;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    background-color: rgba(51, 51, 51, 0.452);
    .container{
        padding: 10px 30px;
        @include flexCenter();
        justify-content: space-between;
        .navLogo{
            @include flexCenter();
            img{
                width: 100px;
                @include responsive(350) {
                    width: 80px;
                }
            }
        }
        .navLinks{
            @include responsive(350){
                display: none;
            }
            @include responsive(1050) {
                display: flex;
            }
            ul{
                height: 100%;
                padding: 0;
                margin: 0;
                @include flexCenter();
                gap: 5px;
                a{
                    position: relative;
                    padding: 5px 10px;
                    @include flexCenter();
                    height: 100%;
                    transition: all 0.5s;
                    color: white;
                    &.active{
                        color: #FF6B00;
                    }
                    &:hover{
                        color:#FF6B00;
                    }
                    &.active::before{
                        @include shapeNav($w: 10px, $h: 10px, $color:rgba(255, 166, 0, 0), $opacity: 1);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        border:2px solid  #FF6B00 ;
                        border-right: 0;
                        border-top: 0;
                    }
                    &.active::after{
                        @include shapeNav($w: 10px, $h: 10px, $color: rgba(255, 166, 0, 0), $opacity: 1);
                        position: absolute;
                        border: 2px solid  #FF6B00;
                        top: 0!important;
                        right: 0!important;
                        border-left: 0;
                        border-bottom: 0;
                    }
                    li {

                        list-style: none;
                        
                    }
                }
            }
        }
        .navBtns{
            @include responsive(350) {
                display: none!important;
            }
            @include responsive(1050) {
                display: flex!important;
            }
            @include flexCenter();
            gap: 10px;
            button{
                padding: 5px 10px;
                font-size: 13px;
                img{
                    width: 35px;
                }
            }
        }
        .btnCon{
            display: none;
            @include responsive(350) {
                display: flex!important;
            }
            .btnNav{
                @include responsive(350) {
                    padding: 0px;
                    img{
                        width: 40px;
                    }
                }
                @include responsive(1050) {
                    display: none;
                }
            }
        }
    }
}
div.sideNav{
    cursor: pointer;
    opacity: 0;
    z-index: -10000;
    transition: all 0.5s;
    &.show{
        opacity: 1;
        z-index: 10000;
        .box-nav{
            opacity: 1;
            transform: translateX(0);
        }
    }
    @include Position($type: absolute, $t: 0, $l: 0);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.208);
    backdrop-filter: blur(5px);
    .box-nav{
        transition: all 0.7s;
        opacity: 0;
        transform: translateX(-100%);
        background-image: url("../img/bg.png");
        @include flexCenter(column);
        justify-content: space-evenly;
        padding: 20px;
        width: 350px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        img.btnExit {
            cursor: pointer;
            @include Position($type: absolute, $t: 20px, $r: 15px);
            width: 30px;
        }
        .navLogo{
            img{
                width: 230px;
            }
        }
        .links{
            width: 100%;
            ul{
                margin: 0;
                padding: 0;
                width: 100%;
                @include flexCenter(column);
                a{
                    width: 100%;
                    padding: 10px;
                    @include flexCenter();
                    justify-content: flex-start;
                    color: white;
                    transition: all 0.5s;
                    border-bottom: 2px dotted #FF6B00;
                    &:hover{
                        color: #FF6B00;
                    }
                    &.active{
                        color: #FF6B00;
                        li{
                            img{
                                display: flex
                            }
                        }
                    }
                    li{
                        @include flexCenter();
                        gap: 5px;
                        list-style: none;
                        img{
                            transform: translateY(-2px);
                            width: 30px;
                            display: none;
                        }
                    }
                }
            }
        }
        .btnCon{
            @include flexCenter();
            gap: 10px;
            button{
                font-size: 15px;
                img{
                    width: 35px;
                }
            }
        }
    }
}
div.sideNavcontact{
    @include flexCenter();
    .box-navContact{
        overflow: hidden;
        &::before{
            @include Position($type: absolute, $t: 0,$l: 0);
            @include shapeNav($w: 100%, $h: 100%, $color:rgba(0, 0, 0, 0.463), $opacity: 1);
            backdrop-filter: blur(3px);
            z-index: -1;
        }
        cursor: initial;
        z-index: 10000000;
        position: relative;
        img.btnExit{
            cursor: pointer;
            @include Position($type: absolute, $t: 20px, $r: 15px);
            width: 30px;
        }
        width: initial;
        height: initial;
        transform: translate(0,-100%);
        transition: all 1.5s;
        padding: 20px 60px 30px 60px;
        border-radius: 15px;
        background-image: url("../img/ChatGPT\ Image\ Feb\ 14\,\ 2026\,\ 01_02_28\ PM.png");
        @include bgImg();
        border: 2px dotted #FF6B00;
        background-color: rgba(0, 0, 0, 0.644);
        backdrop-filter: blur(10px);
        .container{
            .row{
                .column{
                    &.col3{
                        @include responsive(350){
                            margin-bottom: 1.5rem;
                        }
                    }
                    .item{
                        border: 2px dotted #FF6B00;
                        border-radius: 10px;
                        transition: all 0.5s;
                        &:hover{
                            transform: scale(0.9)
                        }
                        .box{
                            @include flexCenter();
                            &:hover{
                                a{
                                    color: #FF6B00
                                }
                            }
                            a{
                                width: 100%;
                                height: 100%;
                                padding-block: 15px;
                                transition: all 0.5s;
                                @include flexCenter(column);
                                color: white;
                                img{
                                    
                                    width: 60px;
                                    margin-bottom: 0.5rem;
                                }
                                h3{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        h4{
            @include flexCenter();
            color: #ffffff;
            font-size: 40px;
            @include responsive(350){
                font-size: 30px;
            }
            margin-bottom: 1.5rem;
            gap: 5px;
            img{
                width: 60px;
                transform: translateY(-5px);
            }
        }
    }
}