@use "./../abstracts" as *;
section#Projects{
    .container{
        .title{
            h2{
                img{
                    transform: translateY(-5px);
                }
            }
        }
        .splide{
            .splide__track{
                padding: 10px;
                .splide__list{
                    padding: 10px;
                    li{
                        height: 250px;
                        .box{
                            &:hover{
                                .layOut{
                                    opacity: 1;
                                }
                            }
                            width: 100%;
                            height: 100%;
                            position: relative;
                            border-radius: 20px;
                            overflow: hidden;
                            img.img-fluid{
                                width: 100%;
                                height: 100%;
                            }
                            .layOut{
                                opacity: 0;
                                transition: all 0.6s;
                                backdrop-filter: blur(5px);
                                padding: 10px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.427);
                                @include flexCenter(column);
                                justify-content: space-evenly;
                                img.plusSign{
                                    width: 80px;
                                }
                                .titleBox{
                                    h2{
                                        margin-bottom: 0;
                                        font-size: 25px!important;
                                        img{
                                            width: 50px;
                                        }
                                    }
                                    img{
                                        width: 170px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}