@use "./../abstracts" as *;
section#Skills{
    .container{
        .title{
            h2{
                img {
                        transform: translateY(-12px);
                    }
            }

        }
        .row{
            .column{
                margin-bottom: 3rem;
                .item{
                    .box{
                        width: 90%;
                        @include responsive(350){
                            padding: 10px;
                            width: 100%!important;
                        }
                        img{
                            @include responsive(350) {
                                width: 60px;
                                margin-right: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}