@use "variables" as *;
@use "mixin" as *;
*{
    scroll-behavior: auto!important;
}
.font1{
    font-family: 'Roboto'!important;
}
.font2{
    font-family: 'Montserrat';
}
span{
    color:#FF6B00;
}
.btnDecorated{
    perspective: 600px;
    &:hover {
            border: 2px solid rgb(255, 255, 255) !important;
            color: white;
            transform: scale(0.96);
        }
    
        transition: all 0.7s;
        @include flexCenter();
        background-color: transparent;
        border: 2px solid #ff6b00;
        padding: 5px 16px;
        color: white;
        border-radius: 10px;
        text-align: center;
    
        img {
            width: 40px;
        }
}
.title {
    h2 {
        width: 100%;
        @include flexCenter();
        color: white;
        font-size: 40px;

        img {
            width: 70px;
        }
    }

    .spreator {
        width: 100%;
        @include flexCenter();

        img {
            width: 270px;
            transform: rotateX(180deg);
        }
    }
}
.shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    z-index: 1;

}
.shape2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    z-index: 1;
}