@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes glow {
    from {
        box-shadow: 0 0 5px  #FF6B00;
    }

    to {
        box-shadow: 0 0 20px #FF6B00;
    }
}