@mixin responsive($breakPoint){
    @if($breakPoint == 350){
        @media (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint ==450) {
        @media (min-width: 371px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint ==650) {
        @media (min-width: 577px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint ==850) {
        @media (min-width: 769px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint ==1050) {
        @media (min-width: 992px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint ==1250) {
        @media (min-width: 1181px) and (max-width: 1300px) {
            @content;
        }
    }
}
@mixin shapeNav($w:100%,$h:100%,$color,$opacity:1){
    content: "";
    display: block;
    width: $w;
    height: $h;
    background-color: $color;
    opacity: $opacity;
    @content;
}
@mixin Position($type:relative,$t:initial,$r:initial,$b:initial,$l:initial){
    position: $type;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}
@mixin flexCenter($flexDirection:initial){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: center;
    align-items: center;
}
@mixin size($w,$h){
    width: $w;
    height: $h;
}
@mixin bgImg(){
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}








