@use "abstracts" as *;
@use "components/nav";
@use "components/header";
@use "components/about";
@use "components/education";
@use "components/skills";
@use "components/projects";
@use "components/contact";